# mod_rewrite starts here

RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-d


#check for file in directory with .html extension

RewriteCond %{REQUEST_FILENAME}\.php -f

#here we actually show the page that has the .php extension

RewriteRule  ^(.*)$ $1.php [NC,L]

ErrorDocument 404 page_not_found.php