.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
    height: 100%;
}

.name-image img{
    height: 80px;
    border: 2px solid #367FD3;
    border-radius: 10px;
    box-shadow: 2px 2px rgb(78, 73, 73);
    border: 1px solid #367FD3;
}

.name-image{
    text-align: center;
    width: 100%;
    height: 30%;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
}

.name-image p{
    font-size: 12px;
    color:white;
    font-weight: bold;
    margin-top: 8px;
}

.chatroom{
    width: 100%;
    height: 400px;
    background-color: rgb(138, 155, 230);
    display: flex;
    flex-direction: row;
    border-radius: 30px;
    margin: 20px 0px;
}

.connect{
    width: 80%;
    height: 100%;
    border-radius: 30px;
    background-color: rgb(195, 218, 231);
    border: 1px solid rgb(223, 205, 205);
    display: flex;
    flex-direction: row;
}

.default-setting{
    width: 100%;
    padding: 10px 0px;
    border: 2px solid rgb(223, 205, 205);
    border-radius: 20px;
}

.default-setting ul li{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.default-setting ul li img{
    width: 30px;
    margin-right: 8px;
    margin-left: 8px;
}

.default-setting ul li p{
    color:white;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}
.default-setting ul li:hover{
    background-color:rgb(223, 205, 205);
}

.choose-chat{
    width: 40%;
    height: 100%;
}

.chat{
    width: 60%;
    height:100%;
}

.choose-chat h2{
    text-align: center;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bolder;
    margin: 20px 0px;
    background-image:linear-gradient(to bottom right,rgb(138, 155, 230), lightblue);
    color: white;
    padding: 10px 0px;
}

.user-list{
    width: 100%;
    height: 300px;
    padding: 10px;
    overflow: scroll;
}

.user-list::-webkit-scrollbar{
    display: none;
}

.one-user{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 10px 10px;
    box-shadow: 2px 2px rgb(95, 95, 95);
    border-radius: 10px;
    background-color: white;
    margin: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-content{
    text-align: start;
}

.user-content h6{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
}

.user-content p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.user-time p{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}

.one-user img{
    width: 50px;
    margin-right: 5px;
    border-radius: 10px;
}

.user-time button{
    background-color: white;
    outline: none;
    padding:3px 10px;
    color:rgb(138, 155, 230);;
    border: 1px solid rgb(223, 205, 205);
    border-radius: 5px;
}

.user-time button:hover{
    background-color: black;
    color: white;
}
.user-status{
    position: relative;
}
.online{
    width:10px;
    height: 10px;
    border-radius: 100%;
    background-color: red;
    position:absolute;
    top: 0;
    right: 0;
}

.offline{
    width:10px;
    height: 10px;
    border-radius: 100%;
    background-color: #E5E6E9;
    position:absolute;
    top: 0;
    right: 0;
}

.current-user{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: white;
    width: 50%;
    padding: 5px 0px;
    margin: 5px 10px;
    border-radius: 10px;
}

.current-user h6{
    font-size: 15px;
    font-weight: bolder;
    font-family: Arial, Helvetica, sans-serif;
}

.user-status-chat img{
    width: 30px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 10px;
}
.user-status-chat{
    position: relative;
    width: fit-content;
}

.chat-content{
    width: 90%;
    height: 70%;
    border-radius: 5px;
    padding: 8px;
    background-image: linear-gradient(to bottom right, rgb(109, 117, 155),lightblue);
    margin: auto;
    overflow-y: scroll;
}

.receive{
    width: 50%;
    background-color:white;
    color: black;
    padding: 5px 5px;
    border-radius: 8px;
    text-align: start;
    margin: 20px 8px;
    font-size: 14px;
    white-space: pre-line;
    overflow: hidden;
}

.receive img{
    width: 30px;
    border-radius: 100%;
    margin-left: 8px;
}

#time{
    font-size: 10px;
}
.sent{
    width: 50%;
    background-color:rgb(127, 201, 127);
    color: black;
    padding: 5px 5px;
    border-radius: 8px;
    text-align: start;
    margin: 20px 8px;
    white-space: pre-line;
    overflow: hidden;
    font-size: 14px;
}

.sent img{
    width: 30px;
    border-radius: 100%;
    margin-left: 8px;
}

.buyer{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.type-area{
    width: 80%;
    margin-left: 30px;
    display: flex;
    flex-direction: row; 
}
.hide-area{
    display:none;
}
.type-area textarea{
    width: 80%;
    height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    padding: 5px;
    outline: none;
    resize: none;
    overflow: auto;
}

.type-area div {
    margin: auto;
    text-align: center;
}

.type-area div button{
    background-color: white;
    outline: none;
    padding: 8px;
    border: none;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
}

.type-area div button:hover{
    background-color: black;
    color: white;
}