.testimonials{
    background-color: #E5E6E9;
    width: 100%;
    text-align: center;
    color: #367FD3;
    padding: 15px 1px;
    margin-top: 5px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.holder{
  position: relative;
}

.holder button{
  position: absolute;
  background-color: transparent;
  border: none;
  padding: 10px;
  font-size: 50px;
  top:50%;  
  outline: none;
  border-radius: 100%;
}

.holder button:hover{
  color: #367FD3;
}

#next{
  right: 0;
}

#back{
  left: 0;
}

.benecont{
    display: flex;
    overflow-x:hidden;
    overflow-y: hidden;
    scroll-behavior: smooth;
}

.benecont::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}
.benecont::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
}
.benecont::-webkit-scrollbar-track {
  background: transparent;
}

.beneficiary{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    background-color: white;
    padding: 10px 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    width: 100%;
    flex-shrink: 0;
}

.beneficiary img{
    width: 80px;
    height: 80px;
    margin: 10px 15px;
    border-radius: 100%;
}

.beneficiary h5{
    font-weight: bolder;
}
.beneficiary span{
    color: gray;
}

.beneficiary-details{
    width: 70%;
}

.beneficiary-details a{
    color: #367FD3;
}

.direct{
    width: 100%;
    text-align: center;
}
.direct >a{
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 0 0 0.5rem 0;
  position: relative;
}

.direct > a:active {
  top: 1px;
}
.direct > a:focus {
  background: #000;
}